<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"s content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>header</title>
</head>
<body>
    <nav>
        <div class="navbar navbar-dark bg-dark">
            <div class="navbar-brand">Black Hole</div>
        </div>
    </nav>
</body>
</html>